




      <div class="header">
        <li class="nav-item"><%= link_to 'ホーム', root_path %></li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'ユーザー一覧', users_path %></li>
          <li class="nav-item"><%= link_to 'ユーザー詳細', user_path(current_user) %></li>
          <li class="nav-item"><%= link_to 'マッチングユーザー', matcher_list_path %></li>
          <li class="nav-item"><%= link_to '掲示板', posts_path %></li>
          <li class="nav-item"><%= link_to '質問', questions_path %></li>
          <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        <% else %>
          <li id="create-show" class="nav-item"><%= link_to '新規登録', new_user_path %></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path %></li>
        <% end %>
        <li class="nav-item"><%= link_to 'シニアーズの使い方', use_path %></li>
      </div>
